.column {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .columnTitle {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333;
  }
  